/*
Color pallete:

- black: #000000;
- rafaela-white: #EEEEEE
- davys-gray: #5E5E5E;
- silver: #C0C0C0;
- antiflash-white: #EBEBEB;
- white: #FFFFFF;
*/

html {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    background-color: #000000;
    background-image: url("../images/background.webp");
    background-repeat: repeat;
    background-size: 50%;
}

@media all and (min-width: 700px) {
    html {
        font-size: 20px;
    }
}

/* elements default */

h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}
h2 {
    font-size: 2em;
    font-weight: bold;
}
h3 {
    font-size: 1.5em;
    font-weight: bold;
}
h4 {
    font-size: 1.3em;
    font-weight: bold;
}
h5 {
    font-size: 1.2em;
    font-weight: bold;
}
h6 {
    font-size: 1.1em;
    font-weight: bold;
}
em {
    font-weight: bold;
}
.personal-title {
    font-size: 1.5em;
    margin-top: 0.83em 0;
    font-weight: bold;
    text-align: center;
}
a {
    color: #FFFFFF;
    text-decoration: underline;
}
a:visited {
    color: #FFFFFF;
}
abbr {
    text-decoration: none;
}
abbr:hover {
    text-decoration: underline dotted;
}
figure {
    text-align: center;
    width: 100%;
    margin: 1em auto;
}
img {
    width: 100%;
}


.license {
    width: 20%;
}

table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #FFFFFF;
    text-align: left;
    padding: 8px;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #5E5E5E;
}
caption {
    caption-side: bottom;
    text-align: center;
    padding-top: 10px;
}

/* modules */

header {
    font-size: 1rem;
    figure {
        max-width: 250px;
    }
}

nav {
    font-size: 1rem;
    margin-top: 1em;
    margin-bottom: 1em;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    align-items: center;
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        list-style-type: none;
        align-items: center;
        padding: 0px;
    }
    li {
        width: min(100%, 250px);
        margin: 0.5em;
    }
    a {
        box-sizing: border-box;
        display: inline-block;
        text-decoration: none;
        color: #000000;
        background-color: #EEEEEE;
        padding: 1em;
        text-align: center;
        border-radius: 10px;
        width: 100%;
    }
    a:visited {
        text-decoration: none;
        color: #000000;
    }
}

nav.secondary-nav {
    font-size: 0.8rem;
    margin: 0em 0em;
}

nav.projects-nav {
    border-bottom: none;
    ul {
        flex-direction: column;
    }
}

video {
    width: 100%;
}

body {
    font-size: 1rem;
    background-color: #000000;
    font-family: Arial, sans-serif;
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: min(5%, 30px) min(5%, 30px);
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

footer {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1em;
    border-top: 1px solid #FFFFFF;
    padding-top: 1em;
    margin-bottom: 1em;
}

/* elements */
#profile-picture {
    width: 100%;
    border-radius: 50%;
}
#very-short-description {
    display: block;
    text-align: center;
    font-weight: bold;
    font-style: normal;
}


