html {
    background-color: #000
}
body {
    font-family: Arial, sans-serif;
    font-size: 1.3em;
    color: #FFFFFF;
    max-width: 768px;
    width: auto;
    margin: 0 auto;
    padding: 0 5%;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
h1 {
    text-align: center;
}
a {
    color: #A8A8FF;
    text-decoration: underline;
}
a:visited {
    color: #CDA8F0;
}
figure {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
img.profile-picture {
    width: 50%;
}
p.personal-title {
    /* same as h2 */
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
}
em {
    display: block;
    text-align: center;
    font-weight: bold;
    font-style: normal;
}
abbr[title] {
    border-bottom: none;
    cursor: inherit;
    text-decoration: none;
}
nav {
    text-align: center;
    margin-top: 1em;
}
footer {
    font-size: 0.8em;
    text-align: center;
    margin-top: 1em;
    border-top: 1px solid #FFFFFF;
    padding-top: 1em;
    margin-bottom: 1em;
}
